body {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    overflow: hidden;
}

.main-container {
    display: flex;
}

.main-content-element {
    position: absolute;
    padding: 10px;
    left: 80px;
    width: 25vw;
    min-width: 400px;
    background-color: white;
    z-index: 1;
    height: 98vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    border-left: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.main-content-element > h1 {
    font-size: 3rem;
    margin: 15px;
}

.results-message {
    text-align: center;
    font-size: 1.5rem;
}

.login-logout-button {
    all: unset;
    border-radius: 25px;
    border: 1px solid black;
    margin: 10px 5px 5px;
    padding: 5px 10px;
    color: white;
    background-color: black;
    transition: 0.25s;
    text-align: center;
    font-size: 1.5rem;
    width: 90%;
}

.login-logout-button:hover {
    background-color: #278bed;
    border: 1px solid #278bed;
    cursor: pointer;
}

.feedback-message {
    background-color: #278bed;
    margin: 0 5px 10px;
    padding: 10px 5px;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.error-message {
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {
    .main-content-element {
        width: calc(100vw - 100px);
        min-width: unset;
    }
}