.listings-container {
    overflow-y: scroll;
    height: 100%;
    word-break: break-word;
}

.listing-card {
    margin: 10px 5px;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    transition: 0.25s;
}

.listing-card:hover {
    border: 2px solid black;
}

.listing-card p {
    margin: 12px auto;
}

.listing-name {
    margin: 0;
    font-size: 1.5rem;
}