.planned-container > h2, .favorites-container > h2 {
    margin: 10px;
}

.planned-container > span, .favorites-container > span {
    font-size: 1.1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

.filter-toggle {
    text-decoration: underline;
    cursor: pointer;
    margin: 5px 0;
}

.filter-form {
    margin-bottom: 10px;
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
}

.filter-box {
    display: inline-block;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 5px;
    transition: 0.25s;
}

.filter-box:hover {
    border: 2px solid black;
}