name: CI

on:
  push:
    branches: [ main, dev ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # checkout repository
      - uses: actions/checkout@v4

      # Frontend job
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install frontend dependencies
        run: npm ci
        working-directory: frontend

      - name: Lint frontend
        run: npm run lint
        working-directory: frontend

      - name: Test frontend
        run: npm run test
        working-directory: frontend

      - name: Build frontend
        run: npm run build
        working-directory: frontend

      # Backend job
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install backend dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        working-directory: server

      - name: Run backend tests
        run: pytest -v
        working-directory: server/tests
